/* Movile & Tablet Version */

/* Imagen no cargada */
.imageUnloaded {
    width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    object-fit: cover;
    opacity: 0;
    transition: 1s all;
    height: auto;
}

/* Imagen cargada */
.imageLoaded {
    width: 100%;
    min-height: 40vh;
    max-height: 40vh;
    object-fit: cover;
    opacity: 1;
    transition: 1s all;
    height: auto;
}

/* Contenedor de imagen con fondo negro */
.imageContainer {
    position: relative;
    width: 100%;
    max-height: 40vh;
    background-color: #000;
    padding: 0px;
}

/* Filtro para atenuar la imagen */
.filtro {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    right: 0;
    bottom: 0;
}

/* Boton de leer mas */

.navLink {
    width: 90px;
    background: #ffc107;
    position: absolute;
    display: inline-block;
    bottom: 15%;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-family: 'Lucida sans', 'sans-serif';
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.navLink:hover {
    color: var(--color-verde-fuente);
    box-shadow: 0 0 10px #333;
    transition: .3s all;
}

.navLink:not(:hover) {
    color: #FFF;
    box-shadow: 0 0 0 0;
    transition: .3s all;
}


/* Texto */
.titleContainer {
    max-width: 400px;
    height: 200px;
    position: absolute;
    bottom: 29%;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.title {
    font-family: 'Lucida Sans', 'sans-serif';
    font-size: 3rem;
    color: #FFF;
    text-align: center;
    margin: 0;
}


/* Botones */

.buttonLeft {
    display: none;
}

.buttonRight {
    display: none;
}

.mainContainer {
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15vh repeat(2, 12.5vh);
    grid-template-areas:
        "title title title title"
        "cat1 cat2 cat3 cat4"
        "cat5 cat6 cat7 cate8";
    align-items: center;
    justify-items: center;
    color: var(--blanco);
    font-family: var(--font-family-link);
    z-index: 50;

    .categoriasTitulo {
        grid-area: title;
        font-size: var(--font-size-heading);
        text-align: center;
        padding-bottom: 40px;
    }

    .link:first-child {
        grid-area: cat1;
    }

    .link:nth-child(2) {
        grid-area: cat2;
    }

    .link:nth-child(3) {
        grid-area: cat3;
    }

    .link:nth-child(4) {
        grid-area: cat4;
    }

    .link:nth-child(5) {
        grid-area: cat5;
    }

    .link:nth-child(6) {
        grid-area: cat6;
    }

    .link:nth-child(7) {
        grid-area: cat7;
    }

    .link:nth-child(8) {
        grid-area: cate8;
    }

    .link {
        text-decoration: none;
        color: var(--blanco);
        background: var(--negro-semiOpaco);
        font-size: var(--font-size-subheading);
        padding: 10px 20px;
        border-radius: 15px;
        transition: .2s all ease;
    }

    .link:hover {
        cursor: pointer;
        color: var(--verde-pasto);
    }
}


/* Desktop Version */

@media (min-width: 992px) {
    /* Imagenes */

    /* Imagen no cargada */
    .imageUnloaded {
        min-height: 490px;
        max-height: 490px;
        object-fit: cover;
    }

    /* Imagen cargada */
    .imageLoaded {
        min-height: 490px;
        max-height: 490px;
        object-fit: cover;
    }

    /* Contenedor de imagen con fondo negro */
    .imageContainer {
        max-height: 490px;
    }


    /* Botones */

    .buttonLeft {
        display: inline-block;
        position: absolute;
        top: 50;
        left: 0;
        right: 100;
        bottom: 50;
        z-index: 10;
        height: 100%;
        width: 15%;
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
        border: none;
        color: #888;
        padding: 0;
    }

    .buttonRight {
        display: inline-block;
        position: absolute;
        top: 50;
        left: 100;
        right: 0;
        bottom: 50;
        z-index: 10;
        height: 100%;
        width: 15%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
        border: none;
        color: #888;
        padding: 0;
    }

    /* Botones Hover */

    .buttonLeft:hover {
        color: #FFF;
        transition: .5s all;
    }

    .buttonLeft:not(:hover) {
        color: #888;
        transition: .5s all;
    }

    .buttonRight:hover {
        color: #FFF;
        transition: .5s all;
    }

    .buttonRight:not(:hover) {
        color: #888;
        transition: .5s all;
    }

    /* Boton de leer mas */

    .navLink {
        width: 90px;
        background: #ffc107;
        position: absolute;
        display: inline-block;
        bottom: 15%;
        right: 0;
        left: 0;
        margin: auto;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        color: #FFF;
        font-family: 'Lucida sans', 'sans-serif';
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        z-index: 10;
    }

    .navLink:hover {
        color: var(--color-verde-fuente);
        box-shadow: 0 0 10px #333;
        transition: .3s all;
    }

    .navLink:not(:hover) {
        color: #FFF;
        box-shadow: 0 0 0 0;
        transition: .3s all;
    }


    /* Texto */
    .titleContainer {
        max-width: 80vw;
        width: 80vw;
        height: 200px;
        position: absolute;
        bottom: 29%;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .title {
        width: 100%;
        font-family: 'Lucida Sans', 'sans-serif';
        font-size: 3rem;
        color: #FFF;
        text-align: center;
        margin: 0;
    }

    .mainContainer {
        display: grid;
        height: 490px;
        padding: 20px 20px 20px 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 180px repeat(2, 130px);
        grid-template-areas:
            "title title title title"
            "cat1 cat2 cat3 cat4"
            "cat5 cat6 cat7 cat8";
        align-items: center;
        justify-items: center;
        z-index: 50;

        .categoriasTitulo {
            grid-area: title;
            font-size: var(--font-size-extra-large-heading);
            text-align: center;
            padding-bottom: 40px;
        }

        .link:first-child {
            grid-area: cat1;
        }

        .link:nth-child(2) {
            grid-area: cat2;
        }

        .link:nth-child(3) {
            grid-area: cat3;
        }

        .link:nth-child(4) {
            grid-area: cat4;
        }

        .link:nth-child(5) {
            grid-area: cat5;
        }

        .link:nth-child(6) {
            grid-area: cat6;
        }

        .link:nth-child(7) {
            grid-area: cat7;
        }

        .link:nth-child(8) {
            grid-area: cat8;
        }

        .link {
            text-decoration: none;
            color: var(--blanco);
            background: var(--negro-semiOpaco);
            font-size: var(--font-size-gigant-heading);
            padding: 15px 30px;
            border-radius: 15px;
            transition: .2s all ease;
        }

        .link:hover {
            cursor: pointer;
            font-size: 4rem;
            color: var(--verde-pasto);
        }
    }


}