.mainContainer {
    display: none;
}



@media (min-width: 992px) {
    .mainContainer {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: var(--background);
    }

    .logoContainer {
        width: 100%;
        padding-left: 50px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 30px;
    }

    .logo {
        width: 70px;
    }
    
    .logoTexto {
        width: 280px;
        margin: 0;
    }
}