.mainContainer {
    display: flex;
    flex-direction: column;
    background: url("FondoGeneral.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.videoContainer {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: none;
    overflow: hidden;
    

    .videoTitulo {
        position: absolute;
        top: 45;
        margin: auto;
        color: var(--blanco);
        font-family: var(--font-family-lato);
        font-size: var(--font-size-large-heading);
    }

    .video {
        height: 300px;
    }

}

.torneoChanguito {
    width: 100%;
    height: 100px;
    background: rgba(50, 50, 50, .7);
    display: flex;
    align-items: center;
    justify-content: center;

    .torneoTitulo {
        text-align: center;
        font-family: var(--font-family-lato);
        font-size: var(--font-size-large-heading);
        color: var(--blanco);
        margin: 0;
    }
}


@media (min-width: 992px) {
    .videoContainer {
        max-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background: none;
        overflow: hidden;
        
    
        .videoTitulo {
            position: absolute;
            top: 45;
            margin: auto;
            color: var(--blanco);
            font-family: var(--font-family-lato);
            font-size: 5rem;
        }

        .video {
            height: 600px;
        }
    
    }

    .torneoChanguito {
        width: 100%;
        height: 150px;
        background: rgba(50, 50, 50, .7);
        display: flex;
        align-items: center;
        justify-content: center;
    
        .torneoTitulo {
            text-align: center;
            font-family: var(--font-family-lato);
            font-size: var(--font-size-large-heading);
            color: var(--blanco);
            margin: 0;
        }
    }
}